@font-face {
  font-family: coolvetica;
  src:local("coolvetica"), url("/fonts/coolvetica rg it.otf);
    }
body {
  margin: 10px;
}
.text {
    font-family: coolvetica;
    color: white;
    font-size: 30px;
  }
  img {
    width: 300px;
    border-radius: 55px;
  }
  .highlight {
    font-family: coolvetica ;
    color: #e31b6d;
    font-weight: light;
    font-size: 30px;
  }
  body {
    background-color: black;
}
.box-one {
  padding-top: 20%;
  background: radial-gradient(circle, black, grey) ;
  width: 100%;
  height: 30em ;
  align-items: center;
}
.box-two {
  background: linear-gradient(dodgerblue, yellow) ;
  width: 100% ;
  height: 15em ;
  }
  .flex {
    display: flex;
    justify-content: center;
    color: #e31b6d;
    font-size: 30px;
  }
  .bottom{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #e31b6d;
    font-size: 30px;
  }
  #about {
    font-family: coolvetica ;
    color: black;
    font-weight: light;
    font-size: 30px;
  }
  p {
    font-family: coolvetica ;
    color: black;
    font-weight: light;
    font-size: 16px;
  }
  .about {
    font-family: coolvetica ;
    color: dodgerblue;
    border: 1px solid white;
    font-weight: light;
    font-size: 22px;
